* {
  font: inherit;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: left;
}

.text {
  font-size: 12px;
  line-height: 20px;
  word-wrap: break-spaces;
}

.header {
  font-size: 20px;
  line-height: 30px;
}

.subheader {
  font-size: 15px;
  line-height: 25px;
  color: #2ECC71;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;

  &--position {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
    margin-top: 0;
  }
}

.company {
  font-size: 14px;
  line-height: 20px;
}

.position {
  font-size: 13px;
  font-weight: 400;
}

.fa {
  &:before {
    margin-right: 10px;
    margin-left: 1px;
    color: #2ECC71;
  }
}

.list {
  margin-left: 30px;
  margin-top: 10px;

  li {
    font-size: 12px;
    line-height: 14px;
    word-wrap: normal;
    margin-right: 30px;
  }
}

.point {
  margin-bottom: 15px;
  break-after: avoid;

  @media print {
    break-inside: avoid;
  }
}

.tag {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  font-size: 13px;
  background-color: #EEEEEE;
  margin: 8px;
  display: block;

  &--wider {
    width: 150px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media print {
      break-inside: avoid;
    }
  }
}
