* {
  font: inherit;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #666;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: left;
}

.one-page {
  width: 210mm;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  @media print {
    -webkit-print-color-adjust: exact;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.text {
  font-size: 12px;
  line-height: 20px;

  &--tiny {
    font-size: 10px;
    line-height: 13px;
    padding-top: 40px;
    padding-bottom: 40px;

    @media print {
      float: bottom;
      padding-bottom: 0;
    }
  }
}

.photo {
  width: 150px;
  border-radius: 50%;
  margin: 20px 20px 20px 0;
}

.container {
  margin-left: 30px;
  margin-right: 30px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: left;
}

.header {
  font-size: 20px;
  line-height: 30px;
}

.subheader {
  font-size: 15px;
  line-height: 25px;
  color: #2ECC71;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;

  &--position {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
    margin-top: 0;
  }
}

.contact {
  margin-left: 30px;
  align-self: center;
  list-style: none;

  a,
  li {
    font-size: 12px;
  }

  a {
    text-decoration: none;
  }

  .fa {
    margin-right: 15px;
    color: #2ECC71;
    font-weight: 600;
    width: 15px;
  }
}

.company {
  font-size: 14px;
  line-height: 20px;
}

.position {
  font-size: 13px;
  font-weight: 400;
}

.fa {
  &:before {
    margin-right: 10px;
    margin-left: 1px;
    color: #2ECC71;
  }
}

.list {
  margin-left: 30px;
  margin-top: 10px;

  li {
    font-size: 12px;
    line-height: 14px;
  }

  &--sublist {
    list-style: circle;
    margin-left: 30px;
  }
}

.point {
  margin-bottom: 15px;
  white-space: nowrap;
  break-after: avoid;

  @media print {
    break-inside: avoid;
  }
}

.tag {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  font-size: 13px;
  background-color: #EEEEEE;
  margin: 8px;
  display: block;

  &--wider {
    width: 150px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media print {
      break-inside: avoid;
    }
  }
}
